resources:

- type: iam.v1.serviceAccount
  name: {{ properties["environment"] }}-{{ properties["name"] }}-wale
  properties:
    accountId: {{ properties["environment"] }}-{{ properties["name"] }}-wale
 #   projectId: {{ properties["name"] }}
    displayName: wale 

- type: iam.v1.serviceAccount.keys
  name: {{ properties["environment"] }}-{{ properties["name"] }}-wale-key
  properties:
    accountId: {{ properties["environment"] }}-{{ properties["name"] }}-wale
#    privateKeyType: "TYPE_GOOGLE_CREDENTIALS_FILE"
    displayName: wale 

#setIamPolicy:
#policy:
#bindings:
#- members:
#  - serviceAccount:prep-customer-wale@customer-tmp.iam.gserviceaccount.com
#    role: roles/storage.objectAdmin